<h1>prueba tecnica</h1>
<input type="file" (change)="changeListener($event)">

<hr>
<h1>formulario</h1>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
    <div class="input-group">
        <label for="name">nombre</label>
        <input type="text" name="name" required id="name" [(ngModel)]="register.name">
        <p>mensaje de error</p>
    </div>
    <div class="input-group">
        <label for="email">email</label>
        <input type="email" name="email" required id="email" [(ngModel)]="register.email">
        <p>mensaje de error</p>
    </div>
    <div class="input-group">
        <label for="password">password</label>
        <input type="password" name="password" required id="password" [(ngModel)]="register.password">
        <p>mensaje de error</p>
    </div>
    <button [disabled]="myForm.invalid" type="submit">registrar</button>
</form>
<h1>NgClass & NgStyle</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name">
<hr class="line-error"
[ngClass]="{
    'valid': nameInput4.valid,
    'invalid': nameInput4.invalid
}">
<p class="message-error" [class.active]="nameInput2.invalid">el campo es requerido</p>
<div class="styles">
    <div>
        <input type="number" [(ngModel)]="box.width">
        <input type="number" [(ngModel)]="box.height">
        <input type="color" [(ngModel)]="box.background">
    </div>
    <div>
        <div [ngStyle]="{
            'width.px': box.width,
            'height.px': box.height,
            'background-color':box.background,
            'diplay': 'block'
        }"></div>
    </div>
</div>
<hr>
<h1>class & style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name">
<p class="message-error" [class.active]="nameInput2.invalid">el campo es requerido</p>
<label>nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name">
<p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">texto texto texto</p>
<div class="styles">
    <div>
        <input type="text"  [(ngModel)]="widthImg">
    </div>
    <div>
        <img [style.width.px]="widthImg" src="https://img.freepik.com/foto-gratis/tabla-cortar-madera-rodeada-platos-pasta-e-ingredientes-mesa_23-2148246798.jpg" alt="">
    </div>
</div>
<hr>
<h1>ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name">
<div [ngSwitch]="person.name">
    <p *ngSwitchCase="'dani'">la persona es dani</p>
    <p *ngSwitchDefault>no hace match</p>
</div>
<!-- <p *ngSwitchCase="'tati'">el otro caso</p> -->
<!-- <p *ngIf="person.name === 'dani'">la persona es dani</p> -->
<hr>
<h1>*ngFor arrays</h1>
<div class="products--grid">
    <div *ngFor="let product of products">
        <img class="image" width="250" [src]="product.image" alt="img">
        <h2 class="name">{{ product.name}}</h2>
        <p class="name">{{ product.price}}</p>
    </div>
</div>
<hr>
<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName">
<button (click)="addName()">add name</button>
<ul>
    <li *ngIf="names.length === 0">no hay nombres</li>
    <li *ngFor="let name of names; index as i">
       {{i}} {{name}}
       <button (click)="deleteName(i)">delete</button>
    </li>
</ul>
<hr>
<h1>*ngIf</h1>
<input type="text" required="true" [(ngModel)]="person.name">
<p *ngIf="person.name === 'dani'">soy dani</p>
<p *ngIf="person.name === 'tati' && person.age === 18; else elseBlock">soy tati</p>
<ng-template #elseBlock>
    <p>bloque de else</p>
</ng-template>
<hr>
<h1>NgModel</h1>
<p>nombre {{person.name}}</p>
<input type="text" required="true" #nameInput="ngModel" [(ngModel)]="person.name">
<p>valid : {{nameInput.valid}}</p>
<p>age {{person.age}}</p>
<input type="number" max="18" min="10" required="true" #ageInput="ngModel" [(ngModel)]="person.age">
<p>valid : {{ageInput.valid}}</p>
<hr>
<h1>eventos</h1>
<button [disabled]="btnDisabled">enviar</button>
<button (click)="toggleButton()">boton</button>
<p>edad {{person.age}}</p>
<button (click)="increaseAge()">age ++</button>
<div class="box" (scroll)="onScroll($event)">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione quod facere mollitia cumque pariatur numquam cum nisi sit quo accusamus voluptatem, delectus vero autem maxime ipsum ipsam aliquid quos. Dolorem.</p>
</div>
<p>nombre {{person.name}}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)">
<hr>
<h1>propiedades</h1>
<button [disabled]="btnDisabled">enviar</button>
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"></progress>
<img [src]="" alt="">
<hr>
<h1>hola mundo</h1>
<h2>{{'hola mundo'.repeat(2)}}</h2>
<h3>hola este es {{name}}</h3>